type bfmr_device, dev_type;
type cust_data_file, coredomain_socket, data_file_type, file_type;
type dmd_device, dev_type;
type dubai_log_device, dev_type, mlstrustedobject;
type exception_device, dev_type, mlstrustedobject;
type hisee_data_file, file_type;
type irda_device, dev_type;
type jank_device, dev_type, mlstrustedobject;
type misc_dev_block, dev_type;
type mke2fs_blkdev, dev_type;
type modem_log_file, dev_type;
type modem_nv_file, file_type;
type modem_secure_file, file_type;
type mnt_modem_file, file_type;
type oeminfo_nvm_device, dev_type;
type pmom_device, dev_type;
type recovery_device, dev_type;
type splash2_block_device, dev_type;
type splash2_data_file, file_type;
type sysfs_devices_platform_amba, sysfs_type, fs_type;
type sysfs_fingerprint, sysfs_type, fs_type;
type sysfs_touchscreen, sysfs_type, fs_type;
type teecd_data_file, file_type;
