domain_trans(init, rootfs, adbd)

# Allow init to relabel userdata block device
allow init userdata_block_device:blk_file relabelto;
allow init userdata_block_device:lnk_file relabelto;

# Allow init to mount adbd binary
allow init rootfs:file mounton;

# Allow init to mount fingerprint keylayout
allow init vendor_file:file mounton;

# Allow init to mount vendor configs
allow init vendor_configs_file:file mounton;
