type kirin970_init_shell, domain;
type kirin970_init_shell_exec, exec_type, file_type;

# Allow for transition from init domain to kirin970_init_shell
init_daemon_domain(kirin970_init_shell)

# Allow kirin970_init_shell to search in block_device
allow kirin970_init_shell block_device:dir search;

# Allow kirin970_init_shell to relabel block_device to misc_dev_block
allow kirin970_init_shell block_device:blk_file relabelfrom;
allow kirin970_init_shell misc_dev_block:blk_file relabelto;

# Shell script needs to execute /system/bin/sh
allow kirin970_init_shell shell_exec:file rx_file_perms;
allow kirin970_init_shell toolbox_exec:file rx_file_perms;
