# Allow platform_app to read and write to sysfs_devices_platform_amba
allow platform_app sysfs_devices_platform_amba:dir r_dir_perms;
allow platform_app sysfs_devices_platform_amba:file rw_file_perms;
