on init
    mount none /system/bin/adbd /sbin/adbd bind
    mount none /dev/null /vendor/etc/init/vendor.huawei.hardware.hisupl@1.0-service.rc bind
    mount none /system/usr/keylayout/fingerprint.kl /vendor/usr/keylayout/fingerprint.kl bind

on property:sys.boot_completed=1
    write /sys/class/hw_power/charger/direct_charger/iin_thermal 4500
    write /sys/class/hw_power/charger/charge_data/iin_thermal 2000
    stop displayengine-hal-1-0

on property:sys.fpnav.enabled=0
    write /sys/devices/platform/fingerprint/nav 0
    stop fps_hal_ext
    start fps_hal_ext

on property:sys.fpnav.enabled=1
    write /sys/devices/platform/fingerprint/nav 1
    stop fps_hal_ext
    start fps_hal_ext

on property:ro.lineage.device=*
    setprop qemu.hw.mainkeys 1

service hisupl_service /vendor/bin/hw/vendor.huawei.hardware.hisupl@1.0-service
    class hal
    user system
    group system
    setenv LD_PRELOAD libshims_hisupl.so
