import /vendor/etc/init/${ro.bootmode}/init.${ro.bootmode}.rc

on init
    symlink /dev/block/platform/${ro.boot.boot_devices} /dev/block/bootdevice

on fs
    mount ext4 /dev/block/by-name/cust_a /cust wait ro
    mount ext4 /dev/block/by-name/preload_a /preload wait ro
    mount ext4 /dev/block/by-name/product_a /product wait ro
    mount ext4 /dev/block/by-name/version_a /version wait ro
    mount none /odm/hw_odm/${ro.boot.product.hardware.sku} /hw_odm bind
    mount none /product/lost+found /product/app bind
    mount none /vendor/lost+found /vendor/etc/audio bind

on post-fs
    exec - root -- /system/bin/odm-init

on post-fs-data
    start teecd

on property:ro.lineage.device=*
    setprop qemu.hw.mainkeys 1

on property:sys.user.0.ce_available=true
    mkdir /data/sec_storage_data 0700 system system
    mkdir /data/sec_storage_data_users 0700 system system

service bfm-ctl /system/bin/bfm-ctl
    class main
    user system
    group system
    oneshot

service charger /sbin/chargeonlymode -p
    class charger
    user root
    group root system
    critical
    seclabel u:r:charger:s0
