on property:sys.boot_completed=1
    stop displayengine-hal-1-0
    stop hisupl_service

on property:sys.fpnav.enabled=0
    write /sys/devices/platform/fingerprint/nav 0
    stop fps_hal_ext
    start fps_hal_ext

on property:sys.fpnav.enabled=1
    write /sys/devices/platform/fingerprint/nav 1
    stop fps_hal_ext
    start fps_hal_ext

on property:ro.lineage.device=*
    setprop qemu.hw.mainkeys 1
